// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.header {
  width: 100%;
  height: 56px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
  background: #333;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
}

.header__menu-toggle {
  background: none;
  border: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  color: #fff;
  cursor: pointer;
}
